* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* background-color: rgba(244, 114, 182, 0.75); */
	--dot-bg: rgba(244, 114, 182, 01.75);
	--dot-color: black;
	--dot-size: 2px;
	--dot-space: 15px;
	background: linear-gradient(
				90deg,
				var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
				transparent 1%
			)
			center / var(--dot-space) var(--dot-space),
		linear-gradient(
				var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
				transparent 1%
			)
			center / var(--dot-space) var(--dot-space),
		var(--dot-color);
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid black;
	background: white;
	padding: 0.5em;
	margin-bottom: 1rem;
}

.icon {
	max-width: 30px;
}

sl-icon-button::part(base) {
	color: black;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

a {
	text-decoration: none;
}

#btn-container {
	background-color: #a78bfa;
	display: grid;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding: 2rem;
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 5px 5px 0px black;
}

.form-container {
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	margin: 1rem;
	padding: 2rem;
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 5px 5px 0px black;
}

.btn-sport {
	background-color: #facc15;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 15rem;
	gap: 1rem;
	padding-block: 1.5em;
	margin-block: 0.75rem;
	font-size: 1.25rem;
	border: 2px solid black;
	border-radius: 2px;
	box-shadow: 7px 7px 0px black;
}

form {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}
