body {
}
nav {
	display: flex;
	align-items: center;
}
.icon {
	max-width: 20px;
}

#logo {
}

#btn-container {
	display: flex;
	flex-direction: column;
	max-width: 14em;
	outline: green;
	margin: 0 auto;
}

.btn-sport {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding-inline: 1.5em;
	margin-block: 0.5rem;
}
