* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* SUMMARY SECTION */
#summary {
    display: grid;
    border-width: 2px;
    gap: 10px;
    border-style: solid;
    border-color: black;
}

span {
    background-color: lightgray;
}

/* First row css player image, info and bet summary */
#first-row {
   display: flex; 
   justify-content: space-between;

}

#bet-summary-occur {
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    gap: 10px;
}


.bet-summary, #player-image {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

#player-image {
    margin-right: 10px;
}


/* Second row css player image, info and bet summary */

#second-row {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: white;
}

#second-row .second, #player-sum-container  {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.second-span, .bet-summary-span {
    border-width: 1px;
    border-style: solid;
    border-color: black; 
    display: block;
    white-space: pre;
    width: 100%;
    margin-bottom: auto;
    text-align: center;
}

#player-sum-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 35%;
}

#player-sum {
    display: flex;
    gap: 5px;
}

.second {
    width: 20%;
}

.player-sum-class {
    width: 33%;
    padding-right: 5%;
}

.test {
    display: flex;
    justify-content: space-between;
}


.white-span{
    background-color: white;
}

 #player-sum-container span {
    padding-bottom: 10px;
 }




/* Third row CSS - Play game log section */
#third-row {
    display: flex;
    flex-direction: column;
}

#third-row h3{
    margin-right: auto;
    border-width: 1px;
    border-style: solid; 
    border-color: gray;
    background-color: lightgray;
}


.paddingBetweenCols {
  border-spacing: 0;
}

.paddingBetweenCols thead th{
  padding: 0 5px;
}

.center {
    text-align: center;
}

.paddingBetweenCols thead th {
    border-width: 1px;
    border-style: solid; 
    border-color: black;
    background-color: aqua;
}

td, tr th {
    border-width: 1px;
    border-style: solid; 
    border-color: black;
}


span {
    display: grid;
    place-self: center;
    margin-bottom: 2%;
}


/* Player Indepth Section*/
#player-section {
    border-width: 2px;
    border-style: solid; 
    border-color: black; 
}