* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/* #player-info {
    display: flex;
    flex-direction: column;
    border-width: 2px;
    border-style: solid; 
    border-color: black;
} */

#summary {
    display: grid;
    border-width: 2px;
    border-style: solid;
    border-color: red;
}

#first-row {
   display: flex; 
   justify-content: space-between;
    border-width: 2px;
    border-style: solid;
    border-color: purple;
}

.first-level {
    border-width: 2px;
    border-style: solid; 
    border-color: BLACK;
}

#bet-occurrence {
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    gap: 10px;
}

/* #bet-occurrence-sum{
    border-width: 2px;
    border-style: solid;
    border-color: BLACK;
    display: grid;
    place-self: center;
    margin-bottom: 2%;
} */

/* .bet-summary {
    border-style: solid; 
    border-color: blue;
    align-items: center;
} */

.bet-summary span{
    display: grid;
    place-self: center;
    margin-bottom: 2%;
}



/* .player-info {
    border-width: 2px;
    border-style: solid; /* This is crucial */
    /* border-color: red; */
/* } */