* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1em;
}

A {
  text-decoration: none;
  color: black;
}

A:hover {
  text-decoration: underline;
}

.card {
  margin: auto;
  width: max-content;
  display: flex;
  flex-direction: column;
  background: red;
  border: 5px solid #000000;
  box-shadow: 5px 5px black;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

form {
  gap: 0.5em;
  padding: 0.5em 1em;
}

.btn {
  width: min-content;
  margin: auto;
  padding: 0.25em 1.5em;
  border: 3px solid black;
  background-color: purple;
  color: white;
}

input::-webkit-calendar-picker-indicator {
  display: none;
  opacity: 0;
}

input::-moz-calendar-picker-indicator {
  display: none;
  opacity: 0;
}

input::-ms-expand {
  /* For older IE versions */
  display: none;
}
