upload_templates - in progress
bb_env
archive
docs
variables


/scripts/nfl_upload_files.py
/scripts/download_routes.py

.env
test.csv
scrap.py
scrap_1.py

/scripts/api_testing.py


run_nfl_data_update.py
run_mlb_data_upload.py